@font-face {
    font-family: "Moon Dance";
    src: url(assets/fonts/Moon_Dance/MoonDance-Regular.ttf);
}

body {
    background-image: url("assets/img/background.jpg");
    position: absolute;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

p {
    font-family: 'Optima', sans-serif;
    font-variant: small-caps;
}

.logo-header {
    font-family: 'Moon Dance', cursive;
    font-size: 48px;
}

.nav-link {
    font-family: 'Moon Dance', cursive;
    font-size: 22px;
    color: #8E8512 !important;
}

.nav-tabs {
    border-bottom: 1px solid #8E8512 !important;
}

.nav-link.active {
    border-color: #8E8512 !important;
    border-bottom: 1px solid white !important;
}

.global-contain {
    background: white !important;
    position: absolute;
    box-shadow: -2px 2px 5px 5px #E0DDDD;
    border-radius: 15px;
    bottom: 50px;
    top: 50px;
    left: 50px;
    right: 50px;
}

.container-pages {
    overflow: hidden;
}

.tabcontent {
    background-color: #E0DDDD;
    box-shadow: 5px -5px 5px #CDC9C9;
    border-radius: 2px;
    display: inline-block;
    max-height: 50vh;
    overflow-y: scroll;
    width: 80% !important;
}

.carousel {
    height: 200%;
}

.active {
    font-weight: bold;
}

#imgPresentation {
    float: right;
    width: 280px;
    height: 280px;
    margin-left: 25px;
}

@media screen and (max-width: 992px) {
    .global-contain {
        background: white !important;
        position: absolute;
        bottom: 20px !important;
        top: 20px !important;
        left: 0px !important;
        right: 0px !important;
    }
    body {
        background-image: url("assets/img/background.jpg");
        position: absolute;
        margin: 10;
        padding: 10;
        height: 100vh;
        width: 100vw;
    }
    #home img {
        width: 150px;
        height: 150px;
    }
    .tabcontent {
        background-color: #E0DDDD;
        box-shadow: 5px -5px 5px #CDC9C9;
        border-radius: 2px;
        display: inline-block;
        max-height: 1000px;
        overflow-y: scroll;
        width: 100% !important;
    }
}
