<div class="snap-y snap-mandatory h-screen overflow-scroll">
  <div
    class="snap-end bg-indigo-500 flex h-screen justify-center items-center md:container md:mx-auto"
  >
    <h1 class="w-full text-3xl font-bold underline">Hello world!</h1>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Feugiat nibh sed
      pulvinar proin gravida. Fermentum odio eu feugiat pretium nibh ipsum. Quis
      enim lobortis scelerisque fermentum. Elit ullamcorper dignissim cras
      tincidunt lobortis feugiat vivamus. Potenti nullam ac tortor vitae purus
      faucibus ornare. Dui faucibus in ornare quam viverra orci sagittis eu
      volutpat. Sed velit dignissim sodales ut eu sem integer vitae justo. Eu
      tincidunt tortor aliquam nulla facilisi cras fermentum odio. Scelerisque
      fermentum dui faucibus in ornare quam viverra orci sagittis. Lobortis
      feugiat vivamus at augue eget arcu dictum. Ut diam quam nulla porttitor
      massa id neque aliquam vestibulum.
    </p>
  </div>

  <!-- 
    
    EXPERIENCES 
  
  -->

  <div
    class="snap-end bg-indigo-300 flex h-screen justify-center items-center md:container md:mx-auto grid grid-cols-3 gap-4"
  >
    <h1 class="col-start-1 col-end-7 text-3xl font-bold underline text-center">
      Expériences
    </h1>

    <p class="col-start-1 col-end-7 text-center">
      Développeur Informatique Orange Business Service, Lille France Alternance
      de 3 ans avec l'IMT Nord Europe et le Groupe Orange, où mes fonctions
      étaient : L'automatisation de tâches redondantes avec des scripts. Le
      développement web d'un ERP, centralisant les différents SAV de France. La
      gestion d'un projet dans le but du développement d'une application web,
      permettant aux clients SAV de OBS de s'auto diagnostiquer via des
      questionnaires. 2019 - 2022 Développeur Web Mairie de Grand-Fort-Philippe,
      Grand-Fort-Philippe France Stage de 6 mois durant mon BTS SIO, où j'ai pu
      développer une interface web permettant une gestion totale des absences et
      des congés. En responsive-design pour une utilisation sur n'importe quel
      périphérique. 2018 - 2019 Développeur Web Centre de formation, France
      Stage de 4 mois pendant ma première année du BTS SIO. Ma fonction était de
      développer un interfaçage web depuis une application et base de données
      Microsoft Access.
    </p>
  </div>

  <!-- 
    
    FORMATIONS 
  
  -->

  <div
    class="snap-end bg-indigo-500 flex h-screen justify-center items-center md:container md:mx-auto grid grid-cols-3 gap-4"
  >
    <h1 class="col-start-1 col-end-7 text-3xl font-bold underline text-center">
      Formations
    </h1>

    <p class="col-start-1 col-end-7 text-center">
      Lycée Jean-Bart, Dunkerque France
    </p>

    <li>
      <div class="flex md:block flex-start items-center pt-2 md:pt-0">
        <div
          class="bg-gray-300 w-2 h-2 rounded-full -ml-1 md:ml-0 mr-3 md:mr-0 md:-mt-1"
        ></div>
        <p class="text-gray-500 text-sm mt-2">2019 - 2022</p>
      </div>
      <div class="mt-0.5 ml-4 md:ml-0 pb-5">
        <h4 class="text-gray-800 font-semibold text-xl mb-1.5">
          Ingénieur Informatique IMT Nord-Europe Lille
        </h4>
        <p class="text-gray-500 mb-3">
          Génie logiciel, données Web et API, méthodes et pratiques devops,
          mobile, Internet des objets, sécurité
        </p>
      </div>
    </li>
    <li>
      <div class="flex md:block flex-start items-center pt-2 md:pt-0">
        <div
          class="bg-gray-300 w-2 h-2 rounded-full -ml-1 md:ml-0 mr-3 md:mr-0 md:-mt-1"
        ></div>
        <p class="text-gray-500 text-sm mt-2">2017 - 2019</p>
      </div>
      <div class="mt-0.5 ml-4 md:ml-0 pb-5">
        <h4 class="text-gray-800 font-semibold text-xl mb-1.5">
          Licence Informatique Université de Bretagne Occidentale Brest
        </h4>
        <p class="text-gray-500 mb-3">
          France Architectures et matériels, systèmes, méthodes et technologies
          logicielles, applications informatiques, systèmes d'informations.
        </p>
      </div>
    </li>
    <li>
      <div class="flex md:block flex-start items-center pt-2 md:pt-0">
        <div
          class="bg-gray-300 w-2 h-2 rounded-full -ml-1 md:ml-0 mr-3 md:mr-0 md:-mt-1"
        ></div>
        <p class="text-gray-500 text-sm mt-2">2015 - 2017</p>
      </div>
      <div class="mt-0.5 ml-4 md:ml-0 pb-5">
        <h4 class="text-gray-800 font-semibold text-xl mb-1.5">
          BTS Service Informatique aux Organisations Dunkerque
        </h4>
        <p class="text-gray-500 mb-3">
          L'option SLAM du BTS forme des développeurs d'applications à être
          capables : D'être à l'écoute de leurs interlocuteurs (utilisateurs et
          informaticiens), De développer des applications correspondant aux
          besoins utilisateur, De s'adapter aux nouvelles technologies.
        </p>
      </div>
    </li>
  </div>

  <!-- 
    
    PORTFOLIO 
  
  -->

  <div
    class="snap-end bg-indigo-300 flex h-screen justify-center items-center md:container md:mx-auto"
  >
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Feugiat nibh sed
      pulvinar proin gravida. Fermentum odio eu feugiat pretium nibh ipsum. Quis
      enim lobortis scelerisque fermentum. Elit ullamcorper dignissim cras
      tincidunt lobortis feugiat vivamus. Potenti nullam ac tortor vitae purus
      faucibus ornare. Dui faucibus in ornare quam viverra orci sagittis eu
      volutpat. Sed velit dignissim sodales ut eu sem integer vitae justo. Eu
      tincidunt tortor aliquam nulla facilisi cras fermentum odio. Scelerisque
      fermentum dui faucibus in ornare quam viverra orci sagittis. Lobortis
      feugiat vivamus at augue eget arcu dictum. Ut diam quam nulla porttitor
      massa id neque aliquam vestibulum.
    </p>

    <h1 class="w-full text-3xl font-bold underline text-right">Hello world!</h1>
  </div>
</div>

<router-outlet></router-outlet>
