<nav
  class="relative w-full flex flex-wrap items-center justify-between py-3 bg-gray-100 text-gray-500 hover:text-gray-700 focus:text-gray-700 shadow-lg"
>
  <div
    class="container-fluid w-full flex flex-wrap items-center justify-between px-6"
  >
    <div class="container-fluid">
      <a class="text-xl text-black font-semibold" href="#">Navbar</a>
    </div>
  </div>
</nav>

<div class="snap-y snap-mandatory h-screen overflow-scroll">
  <div
    class="snap-end bg-zinc-300 flex h-screen justify-center items-center md:container md:mx-auto"
  >
    <h1 class="w-full text-3xl font-bold underline">Hello world!</h1>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Feugiat nibh sed
      pulvinar proin gravida. Fermentum odio eu feugiat pretium nibh ipsum. Quis
      enim lobortis scelerisque fermentum. Elit ullamcorper dignissim cras
      tincidunt lobortis feugiat vivamus. Potenti nullam ac tortor vitae purus
      faucibus ornare. Dui faucibus in ornare quam viverra orci sagittis eu
      volutpat. Sed velit dignissim sodales ut eu sem integer vitae justo. Eu
      tincidunt tortor aliquam nulla facilisi cras fermentum odio. Scelerisque
      fermentum dui faucibus in ornare quam viverra orci sagittis. Lobortis
      feugiat vivamus at augue eget arcu dictum. Ut diam quam nulla porttitor
      massa id neque aliquam vestibulum.
    </p>
  </div>

  <!-- 
    
    EXPERIENCES 
  
  -->

  <div
    class="snap-end bg-indigo-300 flex h-screen justify-center items-center md:container md:mx-auto grid grid-cols-3 gap-4"
  >
    <h1 class="col-start-1 col-end-7 text-3xl font-bold underline text-center">
      <mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="engineering"
      ></mat-icon>
      Expériences
    </h1>

    <p class="col-start-1 col-end-7 text-center">
      Développeur Informatique Orange Business Service, Lille France Alternance
      de 3 ans avec l'IMT Nord Europe et le Groupe Orange, où mes fonctions
      étaient : L'automatisation de tâches redondantes avec des scripts. Le
      développement web d'un ERP, centralisant les différents SAV de France. La
      gestion d'un projet dans le but du développement d'une application web,
      permettant aux clients SAV de OBS de s'auto diagnostiquer via des
      questionnaires. 2019 - 2022 Développeur Web Mairie de Grand-Fort-Philippe,
      Grand-Fort-Philippe France Stage de 6 mois durant mon BTS SIO, où j'ai pu
      développer une interface web permettant une gestion totale des absences et
      des congés. En responsive-design pour une utilisation sur n'importe quel
      périphérique. 2018 - 2019 Développeur Web Centre de formation, France
      Stage de 4 mois pendant ma première année du BTS SIO. Ma fonction était de
      développer un interfaçage web depuis une application et base de données
      Microsoft Access.
    </p>

    <ol class="border-l-2 border-purple-600">
      <li>
        <div class="md:flex flex-start">
          <div
            class="bg-purple-600 w-6 h-6 flex items-center justify-center rounded-full -ml-3"
          >
            <svg
              aria-hidden="true"
              focusable="false"
              data-prefix="fas"
              class="text-white w-3 h-3"
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 448 512"
            >
              <path
                fill="currentColor"
                d="M0 464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V192H0v272zm64-192c0-8.8 7.2-16 16-16h288c8.8 0 16 7.2 16 16v64c0 8.8-7.2 16-16 16H80c-8.8 0-16-7.2-16-16v-64zM400 64h-48V16c0-8.8-7.2-16-16-16h-32c-8.8 0-16 7.2-16 16v48H160V16c0-8.8-7.2-16-16-16h-32c-8.8 0-16 7.2-16 16v48H48C21.5 64 0 85.5 0 112v48h448v-48c0-26.5-21.5-48-48-48z"
              ></path>
            </svg>
          </div>
          <div
            class="block p-6 rounded-lg shadow-lg bg-gray-100 max-w-md ml-6 mb-10"
          >
            <div class="flex justify-between mb-4">
              <span
                class="font-medium text-purple-600 hover:text-purple-700 focus:text-purple-800 duration-300 transition ease-in-out text-sm"
                >Orange Business Services</span
              >
              <span
                href="#!"
                class="font-medium text-purple-600 hover:text-purple-700 focus:text-purple-800 duration-300 transition ease-in-out text-sm"
                >04 / 02 / 2022</span
              >
            </div>
            <div class="flex justify-between mb-2">
              <span>Développeur informatique Alternance</span>
              <span>Lille, France</span>
            </div>

            <div class="flex justify-center">
              <ul class="bg-white rounded-lg w-96 text-gray-900">
                <li
                  class="px-6 py-2 border-b border-gray-200 w-full rounded-t-lg"
                >
                  Automatisation de tâches redondantes avec des scripts.
                  <span
                    class="px-6 py-2 rounded-full border border-gray-300 text-gray-500 font-semibold text-sm flex align-center"
                  >
                    Outils Microsoft, VBA
                  </span>
                  
                </li>
                <li class="px-6 py-2 border-b border-gray-200 w-full">
                  Développement web d'un ERP, centralisant les différents SAV de
                  France.
                  <span
                  class="px-6 py-2 rounded-full border border-gray-300 text-gray-500 font-semibold text-sm flex align-center"
                >
                  Symfony | MySQL | Docker | Kubernetes | Git CI/CD
                </span>
                </li>
                <li class="px-6 py-2 border-b border-gray-200 w-full">
                  Gestion d'un projet dans le but du développement d'une
                  application web, permettant aux clients SAV de OBS de s'auto
                  diagnostiquer via des questionnaires.
                  <span
                  class="px-6 py-2 rounded-full border border-gray-300 text-gray-500 font-semibold text-sm flex align-center"
                >
                  Symfony | MySQL
                </span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="md:flex flex-start">
          <div
            class="bg-purple-600 w-6 h-6 flex items-center justify-center rounded-full -ml-3"
          >
            <svg
              aria-hidden="true"
              focusable="false"
              data-prefix="fas"
              class="text-white w-3 h-3"
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 448 512"
            >
              <path
                fill="currentColor"
                d="M0 464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V192H0v272zm64-192c0-8.8 7.2-16 16-16h288c8.8 0 16 7.2 16 16v64c0 8.8-7.2 16-16 16H80c-8.8 0-16-7.2-16-16v-64zM400 64h-48V16c0-8.8-7.2-16-16-16h-32c-8.8 0-16 7.2-16 16v48H160V16c0-8.8-7.2-16-16-16h-32c-8.8 0-16 7.2-16 16v48H48C21.5 64 0 85.5 0 112v48h448v-48c0-26.5-21.5-48-48-48z"
              ></path>
            </svg>
          </div>
          <div
            class="block p-6 rounded-lg shadow-lg bg-gray-100 max-w-md ml-6 mb-10"
          >
            <div class="flex justify-between mb-4">
              <span
                href="#!"
                class="font-medium text-purple-600 hover:text-purple-700 focus:text-purple-800 duration-300 transition ease-in-out text-sm"
                >21 000 Job Seekers</span
              >
              <span
                href="#!"
                class="font-medium text-purple-600 hover:text-purple-700 focus:text-purple-800 duration-300 transition ease-in-out text-sm"
                >12 / 01 / 2022</span
              >
            </div>
            <div class="flex justify-between mb-2">
              <span>Développeur web</span>
            </div>
            <p class="text-gray-700 mb-6">
              Libero expedita explicabo eius fugiat quia aspernatur autem
              laudantium error architecto recusandae natus sapiente sit nam
              eaque, consectetur porro molestiae ipsam an deleniti.
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="md:flex flex-start">
          <div
            class="bg-purple-600 w-6 h-6 flex items-center justify-center rounded-full -ml-3"
          >
            <svg
              aria-hidden="true"
              focusable="false"
              data-prefix="fas"
              class="text-white w-3 h-3"
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 448 512"
            >
              <path
                fill="currentColor"
                d="M0 464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V192H0v272zm64-192c0-8.8 7.2-16 16-16h288c8.8 0 16 7.2 16 16v64c0 8.8-7.2 16-16 16H80c-8.8 0-16-7.2-16-16v-64zM400 64h-48V16c0-8.8-7.2-16-16-16h-32c-8.8 0-16 7.2-16 16v48H160V16c0-8.8-7.2-16-16-16h-32c-8.8 0-16 7.2-16 16v48H48C21.5 64 0 85.5 0 112v48h448v-48c0-26.5-21.5-48-48-48z"
              ></path>
            </svg>
          </div>
          <div
            class="block p-6 rounded-lg shadow-lg bg-gray-100 max-w-md ml-6 mb-10"
          >
            <div class="flex justify-between mb-4">
              <span
                href="#!"
                class="font-medium text-purple-600 hover:text-purple-700 focus:text-purple-800 duration-300 transition ease-in-out text-sm"
                >Awesome Employers</span
              >
              <span
                href="#!"
                class="font-medium text-purple-600 hover:text-purple-700 focus:text-purple-800 duration-300 transition ease-in-out text-sm"
                >21 / 12 / 2021</span
              >
            </div>
            <div class="flex justify-between mb-2">
              <span>Développeur web</span>
            </div>
            <p class="text-gray-700 mb-6">
              Voluptatibus temporibus esse illum eum aspernatur, fugiat suscipit
              natus! Eum corporis illum nihil officiis tempore. Excepturi illo
              natus libero sit doloremque, laborum molestias rerum pariatur quam
              ipsam necessitatibus incidunt, explicabo.
            </p>
          </div>
        </div>
      </li>
    </ol>
  </div>

  <!-- 
    
    FORMATIONS 
  
  -->

  <div
    class="snap-end bg-zinc-300 flex h-screen justify-center items-center md:container md:mx-auto grid grid-cols-3 gap-4"
  >
    <h1 class="col-start-1 col-end-7 text-3xl font-bold underline text-center">
      <mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="school"
      ></mat-icon>
      Formations
    </h1>

    <ol
      class="col-start-1 col-end-7 text-left border-l md:border-l-0 md:border-t border-gray-300 md:flex md:justify-center pl-20"
    >
      <li>
        <div class="flex md:block flex-start items-center pt-2 md:pt-0">
          <div
            class="bg-blue-600 w-4 h-4 flex items-center justify-center rounded-full -ml-2 mr-3 -mt-2"
          ></div>
          <p class="text-sm mt-2">2019 - 2022</p>
        </div>
        <div class="mt-0.5 ml-4 md:ml-0 pb-5">
          <h4 class="font-semibold text-xl mb-1.5">
            Ingénieur Informatique IMT Nord-Europe Lille
          </h4>
          <p class="mb-3">
            Génie logiciel, données Web et API, méthodes et pratiques devops,
            mobile, Internet des objets, sécurité
          </p>
        </div>
      </li>
      <li>
        <div class="flex md:block flex-start items-center pt-2 md:pt-0">
          <div
            class="bg-blue-600 w-4 h-4 flex items-center justify-center rounded-full -ml-2 mr-3 -mt-2"
          ></div>
          <p class="text-sm mt-2">2017 - 2019</p>
        </div>
        <div class="mt-0.5 ml-4 md:ml-0 pb-5">
          <h4 class="font-semibold text-xl mb-1.5">
            Licence Informatique Université de Bretagne Occidentale Brest
          </h4>
          <p class="mb-3">
            France Architectures et matériels, systèmes, méthodes et
            technologies logicielles, applications informatiques, systèmes
            d'informations.
          </p>
        </div>
      </li>
      <li>
        <div class="flex md:block flex-start items-center pt-2 md:pt-0">
          <div
            class="bg-blue-600 w-4 h-4 flex items-center justify-center rounded-full -ml-2 mr-3 -mt-2"
          ></div>
          <p class="text-sm mt-2">2015 - 2017</p>
        </div>
        <div class="mt-0.5 ml-4 md:ml-0 pb-5">
          <h4 class="font-semibold text-xl mb-1.5">
            BTS Service Informatique aux Organisations Dunkerque
          </h4>
          <p class="mb-3">
            L'option SLAM du BTS forme des développeurs d'applications à être
            capables : D'être à l'écoute de leurs interlocuteurs (utilisateurs
            et informaticiens), De développer des applications correspondant aux
            besoins utilisateur, De s'adapter aux nouvelles technologies.
          </p>
        </div>
      </li>
    </ol>
  </div>

  <!-- 
    
    PORTFOLIO 
  
  -->

  <div
    class="snap-end bg-indigo-300 flex h-screen justify-center items-center md:container md:mx-auto"
  >
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Feugiat nibh sed
      pulvinar proin gravida. Fermentum odio eu feugiat pretium nibh ipsum. Quis
      enim lobortis scelerisque fermentum. Elit ullamcorper dignissim cras
      tincidunt lobortis feugiat vivamus. Potenti nullam ac tortor vitae purus
      faucibus ornare. Dui faucibus in ornare quam viverra orci sagittis eu
      volutpat. Sed velit dignissim sodales ut eu sem integer vitae justo. Eu
      tincidunt tortor aliquam nulla facilisi cras fermentum odio. Scelerisque
      fermentum dui faucibus in ornare quam viverra orci sagittis. Lobortis
      feugiat vivamus at augue eget arcu dictum. Ut diam quam nulla porttitor
      massa id neque aliquam vestibulum.
    </p>

    <h1 class="w-full text-3xl font-bold underline text-right">Hello world!</h1>
  </div>
</div>

<router-outlet></router-outlet>
